{% style %}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
}
body * {
    box-sizing: border-box;
}

.hero-module{
	font-family: 'Roboto', sans-serif;
	position: relative;
	width: 100%;
    color: #FFF;
    font-weight: 300;
    line-height: 1;
}

.hero-module .theme-dark{
    color: #000;
}

.hero-module picture,
.hero-module img{
   display: block;
   width: 100%;
}

.hero-module .module-container{
	display: flex;
	align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.hero-module .module-container .inner-wrapper{
    margin: 0 auto;
    text-align: center;
}

.hero-module h2{
    font-weight: 700;
    font-size: 36px;
    color: inherit;
    line-height: 42px;
    margin-bottom: 20px;
}
.hero-module .copy{
    font-size: 18px;
    line-height: 30px;
    color: inherit;
}

.hero-module .hero-cta{
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
	background-color: {{settings.hero_cta_bgcolor}};
	color: {{settings.hero_cta_color}};
    padding: 17px 50px;
    border-radius: 30px;
    margin-top: 24px;
    display: inline-block;
    transition: all 0.2s;
    text-decoration: none;
}
.hero-module .hero-cta:hover{
	color: {{settings.hero_cta_bgcolor}};
	background-color: {{settings.hero_cta_color}};
}

@media screen and (min-width: 1025px){
	.hero-module .module-container{
        padding: 0 80px;
    }
    .hero-module .module-container .inner-wrapper{
        width: 50%;
    }
    .hero-module.text-pos-left .module-container .inner-wrapper{
        margin: auto auto auto 0;
        text-align: left;
    }
    .hero-module.text-pos-right .module-container .inner-wrapper{
        margin: auto 0 auto auto;
        text-align: left;
    }
    .hero-module h2{
        font-size: 46px;
    }
    .hero-module .copy{
        font-size: 24px;
        line-height: 38px;
    }
}

{% endstyle %}

{% assign hero_image = settings.hero_image %}
{% assign mobile_image = hero_image %}
{% if settings.hero_image_mobile != blank %}
    {% assign mobile_image = settings.hero_image_mobile %}
{% endif %}
<section class="module hero-module {{ settings.hero_text_position }} theme-{{-settings.hero_text_color-}}">
    {% if settings.hero_image_mobile != blank %}
    <picture>
        <source media="(max-width: 414px)" srcset="{{ mobile_image | img_url: '414x', format: 'pjpg' }}, {{ mobile_image | img_url: '414x', scale: 2, format: 'pjpg' }} 2x" />
        <source media="(max-width: 767px)" srcset="{{ mobile_image | img_url: '767x', format: 'pjpg' }}, {{ mobile_image | img_url: '767x', scale: 2, format: 'pjpg' }} 2x" />
        <source media="screen" srcset="{{ hero_image | img_url: '1440x', format: 'pjpg' }}, {{ hero_image | img_url: '1440x', scale: 2, format: 'pjpg' }} 2x" />
        <img src="{{ hero_image | img_url: '1440x', format: 'pjpg' }}" alt="{{ settings.hero_title }}" />
    </picture>
    {% endif %}

    <div class="module-container">
        <div class="inner-wrapper">
        {% if settings.hero_title != blank %}
            <h2>{{ settings.hero_title }}</h2>
        {% endif %}
        {% if settings.hero_copy != blank %}
            <div class="copy">{{ settings.hero_copy }}</div>
        {% endif %}
        {% if settings.hero_cta_text != blank and settings.hero_cta_url != blank %}
            <div class="cta-wrap">
                <a href="{{- settings.hero_cta_url -}}" class="cta hero-cta" role="button" title="View More">{{ settings.hero_cta_text }}</a>
            </div>
        {% endif %}
        </div>
    </div>
</section>