<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#FFF">
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">

    {{ content_for_header }}
</head>
<body id="code-challenge" class="code-challenge">

    <main role="main" id="MainContent">
        {% render 'hero-module' %}
        {{ content_for_layout }}
    </main>

</body>
</html>